@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    text-align: justify;
}
header{
    background-color: black;
    color: aliceblue;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}
header img{
    display: block;
    padding: 0px 20px;
    margin-top: -50px;
    margin-left: -25px;

}
.Menu-principal{ 
    text-align: left;
    color: aliceblue;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 10px;
}
.Menu-principal a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}
nav > a:hover{
    background-color: brown;
    color: black;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    color: black;
    border-bottom-left-radius:10px; 
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

main p{
    padding-bottom: 10px;
}

h1{
    font-weight: 700;
}
p{
    font-weight: 25;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.data{
    font-size: 1.3em;
    padding: 10px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.733);
}

dt{
    line-height: 1.5;
    margin: 20px;
    
}
dt img{
    display: block;
    margin: 20px;
    
}
footer{
    background-color: black;
}
footer p{
    text-align: center;
    color: aliceblue;
}
footer a{
    text-decoration: none;
    color:aliceblue
}
footer a:hover{
    text-decoration: underline;
    color: antiquewhite;
}